<h4>Add package</h4>	
<%= form_for([@courier, @courier.packages.build]) do |f| %>
	<p>
		<%= f.label :tracking_number %><br>
		<%= f.text_field(:tracking_number, {:class => 'form-control'}) %>
	</p>
	<p>
		<%= f.label :delivery_status%><br>
		
		<%= f.select :delivery_status, ['sent', 'received'], {:class => 'dropdown'}%>
	</p>

	<p>
		<%= f.submit({:class => 'btn btn-primary'}) %>
	</p>
<% end %>	