<h3>Packages</h3>
<% @courier.packages.each do |package|%>
	<div class="card card-body bg-light">
		<p><strong><%= package.tracking_number %></strong> 
			<strong>
				<%= link_to '[remove]', [package.courier, package],
				method: :delete,
				data: { confirm: 'Are you sure?'}%>
			</strong>
		</p>
	</div>	
<% end %>