<h1>Couriers</h1>
<% @couriers.each do |courier|%>
	<div class="jumbotron">
		<h3><%= courier.name %></h3>
		<p class="lead"><%= courier.email %></p>

		<button class="btn btn-primary" type="button">
  			Packages count: <%= courier.packages.count%> 
  			<span class="badge"></span>
		</button>

		<%= link_to "Details", courier_path(courier), :class => 'btn btn-primary' %>
	</div>
	
<% end %>