<h1>Add Courier</h1>
<%= form_for :courier, url: couriers_path do |f| %>
	<% if @courier.errors.any? %>
		<% @courier.errors.full_messages.each do |msg|%>
			<div class='alert alert-danger'><%= msg %> </div>
		<% end %>	
	<% end %>

	<p>
		<%= f.label :name %><br>
		<%= f.text_field(:name, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= f.label :email%><br>
		<%= f.text_field(:email, {:class => 'form-control'})%>
	</p>

	<p>
		<%= f.submit({:class => 'btn btn-primary'}) %>
	</p>
<% end %>	
