<h2><%= @courier.name %></h2>
<p><%= @courier.email %></p>
<hr>
<%= link_to "Edit", edit_courier_path(@courier), :class => "btn btn-primary" %>

<%= link_to "Delete", courier_path(@courier),
		method: :delete,
		data: {confirm: 'Are you sure?'},
	 	:class => 'btn btn-danger' %>
<hr>
<%= render 'packages/packages' %>
<%= render 'packages/form' %>
