<!DOCTYPE html>
<html>
   <head>
      <title>Firstapp</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   </head>
   <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
         <a class="navbar-brand">Delivery App</a>
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
               <li class="navbar-brand"><%= link_to "Home", home_path%></li>
            </ul>
            <ul class="navbar-nav mr-right">
               <li class="navbar-brand"><%= link_to "Add Courier", new_courier_path%></li>
            </ul>
         </div>
      </nav>
      <div class="container">
         <%= yield %>
      </div>
   </body>
</html>